<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @mensaje.content %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @mensaje.usuario_id %>
</p>

<%= link_to 'Edit', edit_mensaje_path(@mensaje) %> |
<%= link_to 'Back', mensajes_path %>
